:root{
    --clr-primary-300: hsl(215, 51%, 70%);
    --clr-primary-400: hsl(178, 100%, 50%);
 
    --clr-neutral-900: hsl(217, 54%, 11%);
    --clr-neutral-800: hsl(216, 50%, 16%);
    --clr-neutral-500: hsl(215, 32%, 27%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff: 'Outfit', sans-serif;

    --fw-light: 300;
    --fw-medium: 400;
    --fw-bold: 600;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body{
    display: grid;
    min-height: 100vh;
    place-content: center;
    font-family: var(--ff);
    margin: auto;
    background-color: var(--clr-neutral-900);
}


.card{
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 0.75rem;
    max-width: 310px;
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-800);
}

.hover-effect{
  display: grid;
  grid-template-areas: "stack";
  cursor: pointer;
}

.hover-effect > *{
  grid-area: stack;
}

.filter{
  background-color: var(--clr-primary-400);
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

.container{
  position: relative;
  display: inline-block;
}

.nft__img{
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: var(--clr-primary-400);
}

.container > svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.words{
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

.words > a{
    color: var(--clr-neutral-100);
    text-decoration: none;
    font-weight: var(--fw-bold);

    margin-top: 1rem;
}

.words > p{
    --content-padding: 0.75;
    color: var(--clr-primary-300);
    margin-bottom: var(--content-padding);
    margin-top: var(--content-padding);
    font-weight: var(--fw-light);
}



.icon__eth{
    max-width: 1rem;
}

.clock__icon{
    max-width: 1rem;
}

.card-nft{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    columns: 2;
    align-items: center;

    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: var(--clr-primary-300);

    font-size: 0.9rem;
    font-weight: bolder;
}

.eth_price{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--clr-primary-400);
    font-weight: var(--fw-bold);
    border-bottom: 1px;
}

.time{
    display: flex;
    justify-items: baseline;
    padding-left: 0.5rem;
    gap: 0.5rem;
    color: var(--clr-primary-300);
    font-weight: var(--fw-light);
}

.profile__img{
    max-width: 35px;
    border: 2px solid var(--clr-neutral-100);
    border-radius: 50%;
}

.profile__link{
    text-decoration: none;
    color: var(--clr-neutral-100);
}

.card-profile{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;

    font-weight: var(--fw-light);
    color: var(--clr-primary-300);

    border: 1px;
    border-top-color: var(--clr-primary-300);
}

.nft__link:hover{
  color: var(--clr-primary-400);
  transition: 300ms ease;
}

.profile__link:hover{
  color: var(--clr-primary-400);
  transition: 300ms ease;  
}

.container:hover .nft__img{
  opacity: .5;
  transition: 400ms ease-in;
}

.container:hover .svg{
  opacity: 1;
  transition: 400ms ease-in;
}
